.place__title {
  grid-area: title;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #FFFFFF;
  width: 90%;
  margin: 0 auto;
  align-self: end;
  /* заголовок выровнен к низу ячейки */
}

@media screen and (min-width: 768px) {
  .place__title {
    margin: 0;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    max-width: 460px;
  }
}