.place {
  display: grid;
  grid-template-areas: 
  "title"
  "website"
  "image"
  "paragraphs";
  row-gap: 32px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-areas: 
    "title website"
    "image paragraphs";
    column-gap: 28px;
    row-gap: 48px;
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-areas: 
    "title website"
    "image paragraphs";
    column-gap: 32px;
    row-gap: 48px;
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;
    max-width: 984px;
  }
}

