.lead__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 48px 0 16px;
}

@media screen and (min-width: 375px) {
  .lead__title {
    font-size: 46px;
    line-height: 50px;
  }
}

@media screen and (min-width: 426px) {
  .lead__title {
    padding-bottom: 32px;
    font-size: 50px;
    line-height: 52px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
  }
}


@media screen and (min-width: 1280px) {
  .lead__title {
    padding-top: 56px;
  }
}