.footer__list-item {
  padding-bottom: 32px;
}
  
.footer__list-item:last-of-type {
  padding-bottom: 0;
}


@media screen and (min-width: 768px) {
  .footer__list-item {
    padding-right: 18px;
    padding-bottom: 0;
  }
  .footer__list-item:last-of-type {
    padding-right: 0;
  }
}
