.intro__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #FFFFFF;
  padding-bottom: 40px;
  margin: 0;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .intro__title {
    font-size: 50px;
    line-height: 54px;
    width: 92%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    width: 90.625%;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    width: 92.5%;
  }
}